# flyctl launch added from .gitignore
**\﻿# Python
**\__pycache__
**\*.py[cod]
**\*.log

# Virtual env
**\.venv
**\venv
**\env

# Env secrets
**\.env

# Django
**\db.sqlite3
**\media
**\staticfiles
fly.toml
