version: "3.9"

services:
  web:
    build: .
    container_name: fagouflow_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - ./reports_out:/app/reports_out
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: fagouflow_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: fagouflow_redis
    ports:
      - "6379:6379"

volumes:
  pgdata: