body {
  background-color: #f7f9fb;
}

.ui-timeline .list-group-item {
  border-left: 3px solid #dee2e6;
  margin-left: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.ui-timeline .list-group-item::before {
  content: "";
  position: absolute;
  left: -0.45rem;
  top: 1.1rem;
  width: 0.75rem;
  height: 0.75rem;
  background: #ffffff;
  border: 2px solid #0d6efd;
  border-radius: 999px;
}
